body {
	margin: 0;
	min-width: 960px;
	font-family: "Comic Sans MS", "Montserrat", "Helvetica", Arial, sans-serif;
	font-size: 16px;
	line-height: 2;
	color: #f2f2f2;
	background-repeat:  no-repeat;
	background-position: top center;
	background-color: #b2bcc5;
	background-size: 100%;
	color: #222426;
}

header {
	padding: 20px 0 32px;
	background-color: #454a51;
	padding-right: 100px;
	text-align: right;
	font-size: 120%;
	color: #849295;
}

footer {
	color: #849295;
	background-color: #24292b;
	padding-left: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

main {
	text-align: center;
}

.main-all {
	width: 60%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

h1 {
	font-size: 40px;
}

.list-heading {
	text-align: left;
	padding-left: 20%;
}

ul {
	list-style-image: url("img/file.png");
}

a {
	color: #3c4045;
}